@font-face {
    font-family: "Barlow";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #303030;
    font-family: "Barlow";
    max-width: 100vw !important;
    min-height: 100vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.text-red {
    color: #F4442E;
}

.widget {
    width: 100%;
    max-width: 1200px;
    min-height: 900px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
}

.header {
    display: flex;
    max-width: 1200px;
    padding: 60px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: -180px;
    position: relative;
    z-index: 1;
}

.d-flex {
    display: flex;
}

.company-name {
    display: inline-block;
    width: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 30px;
    line-height: 87.62%;
    color: #F4442E;
}

.contact-us-btn {
    width: 135px;
    height: 44px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background: #F4442E;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#remote{
    overflow: hidden;
}

.headline {
    width: 40%;
    margin-left: 20px;
    margin-top: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
    color: #303030;
    position: relative;
    z-index: 1;
}

.sub-headline {
    width: 40%;
    font-style: normal;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #303030;
    position: relative;
    z-index: 1;
}

.illustration-container{
    display: block;
    width: 100%;
    min-height: 700px;
    max-height: 750px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.illustration-bg{
    position: absolute !important;
    width: 60%;
    height: 90vh;
    min-height: 500px;
    max-height: 550px;
    background: #FAFAFA;
    top: 0;
    right: 0;
    border-radius: 0 0 0 45px;
    z-index: 0;
}

.illustration-bg img{
    position: absolute !important;
    top: 80px;
    display: block;
    width: 108%;
    margin: 0 -4%;
}

.column-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.column-container::after {
    content: "";
    display: inline;
    position: absolute;
    bottom: -50px;
    left: 30px;
    width: 30px;
    height: 30px;
    background-image: url('./../images/downArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.column {
    width: 315px;
}

.column-header {
    width: 286px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #303030;
}

.column-header img {
    vertical-align: middle;
}

.column-header label {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.column-content {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
}

#why {
    background-image: url('./../images/bg2.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.top-hr {
    width: 165.5px;
    border: 0.5px solid #F4442E;
}

#why .arrow {
    margin-left: 20px;
}

.text-headline {
    margin: 40px 0;
    color: #303030;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

#why .text-headline{
    width: 65%;
}

.text-desc {
    width: 35%;
    margin: 80px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #303030;
}

.article-link {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F4442E;
}

#how{
    position: relative;
    padding: 100px 60px;
}

#how .top-hr{
    margin-top: 100px;
}

.skilled-bot{
    position: absolute;
    top: 300px;
    right: 0;
}

.text-headline-lg {
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    text-align: center;
    color: #303030;
}

.text-sub-headline {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    line-height: 38px;
    color: #303030;
}

.text-headline-md {
    width: 70%;
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

#how .img-block {
    margin-top: 49px;
}

.process-list {
    list-style: none;
}

.process-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #303030;
    margin-top: 20px;
    margin-left: 20px;
}

.process-list li::before {
    content: "";
    background-color: #F4442E;
    font-weight: bold;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: -0.8em;
    margin-right: 0.8em;
    border-radius: 50%;
}

.text-headline-md-w-auto {
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

#resources {
    background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
    background-position: 102.5% 10%, 10% 101%;
    background-repeat: no-repeat, no-repeat;
}

.resource-item-container {
    text-align: center;
    margin-top: 75px;
}

.resource-item {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 25px auto;
}

.resource-item p {
    font-size: 20px;
}

.resource-item img {
    margin-bottom: 20px;
}

.and-many-more {
    margin-top: 50px;
    text-align: right;
}

#teams{
    position: relative;
}

.teams-image-container{
    position: absolute;
    max-width: 660px;
    width: 50%;
    top: 10%;
    left: 0;
}

#teams .text-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}

#teams .top-hr {
    margin-top: 40px;
    margin-bottom: -5px;
}

.teams-image-container img {
    width: 100%;
}

#teams .img-block {
    margin-top: 25px;
}

.teams-image-info {
    width: 45%;
}

.teams-image-info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

#office {
    position: relative;
    background-image: url('../images/bg-dots.svg');
    background-position: 55% 85%;
    background-repeat: no-repeat;
    padding-top: 10%;
}

.office-image-container{
    position: absolute;
    max-width: 660px;
    width: 50%;
    top: 100px;
    right: 0;
}

.office-image-container img {
    width: 100%;
}

#office .top-hr {
    margin-top: 20px;
}

.office-image-info {
    width: 48%;
}

#office .img-block {
    margin-top: 25px;
}

#safeIt {
    background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
    background-position: 102.5% top, 90% 101%;
    background-repeat: no-repeat, no-repeat;
}

.process-items-container {
    display: flex;
    width: calc(100% - 50px);
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
}

.process-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 33%;
    max-width: 240px;
    min-width: 200px;
    margin: 0px 50px 100px;
    min-height: 240px;
    padding: 25px;
    text-align: left;
    border: 3px solid #F4442E;
}

.process-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    top: 0;
    left: -4px;
    background-color: white;
    z-index: 1;
}

.process-item-title {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #F4442E;
    margin-bottom: 25px;
}

.process-item-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}

.process-item-icon {
    position: absolute;
    left: -75px;
    top: 30%;
    z-index: 3;
}

.process-item-number {
    position: absolute;
    top: -10px;
    left: -100px;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    opacity: 0.05;
    z-index: 3;
}

#contact-us {
    background-image: url('../images/bg-dots.svg');
    background-position: 240px 255px;
    background-repeat: no-repeat;
}

#contact-us .inline-class {
    text-decoration: line-through;
}

#contact-us .text-headline {
    margin-bottom: 0px;
}

#contact-us .red-text {
    color: #F4442E;
    font-weight: 600;
    font-size: 48px;
    margin-right: 15px;
}

#contact-us .heading-section {
    color: #303030;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

#contact-us .contact-info {
    padding-top: 76px;
    overflow: hidden;
}

#contact-us .contact-text {
    width: 85%;
    max-width: 1000px;
    margin-left: 23%;
    background: #FAFAFA;
    border-radius: 45px;
    padding-bottom: 50px;
}

#contact-us .contact-heading {
    width: 90%;
    padding: 50px 0px 20px;
    text-align: center;
}

.contact-heading h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #303030;
}

.input-control {
    padding: 14px;
    outline: auto;
    background: white;
    color: black;
}

.input-control:focus {
    border: white;
    background: white;
}

.input-section {
    padding-top: 44px;
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer .main-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-text {
    width: 20%;
}

.first-text .company-name{
    margin-left: 20px;
}

.middle-content {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.footer-link{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#footer {
    width: 100%;
    max-width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
    border-top: 3px solid #FAFAFA;
}

.copyright-section{
    width: 60%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright-link{
    color: #F4442E;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.social-media-icons {
    display: flex;
    width: 30%;
    max-width: 100px;
    justify-content: space-between;
}

.social-media-icons img{
    width: 25px;
    height: 25px;
}

.input-container {
    width: 90%;
    max-width: 722px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-container input {
    width: 100%;
    max-width: 340px;
    border: none;
    font-size: 20px;
    color: #303030;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
}

.input-container input::placeholder {
    font-size: 20px;
    color: #303030;
}

.input-container input:focus {
    border: 0;
    outline: 0;
}

.contact-us-form {
    padding: 0 5%;
}

.text-area {
    width: 100%;
    height: 155px;
    margin-top: 20px;
    font-size: 20px;
    color: #303030;
    padding: 20px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.send-btn {
    display: inline-block;
    margin: 20px auto;
}

.text-area::placeholder {
    font-size: 20px;
    color: #303030;
}

.text-area:focus {
    border: 0;
    outline: 0;
}

.navigator {
    position: fixed;
    top: 30%;
    z-index: 999;
    left: 20px;
}

.navigator a {
    display: block;
    text-decoration: none;
    margin: 20px auto;
    color: #F4442E;
}

.navigator a span {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background: #EBF1F6;
}

.navigator a.active span {
    background: #F4442E;
}

.navigator a label {
    display: none;
}

.navigator a:hover label {
    display: inline;
    border-left: 2px solid #F4442E;
    padding-left: 10px;
}

.navigator a.active label {
    display: inline;
    border-left: 2px solid #F4442E;
    padding-left: 10px;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 700px) {
    .header {
        padding: 20px;
    }

    .logo {
        display: none;
    }

    .company-name {
        margin-left: 0;
    }

    .top-hr {
        width: 104px;
    }

    .headline{
        margin-left: 0;
    }

    .sub-headline{
        margin-left: 0;
    }

    .column-container {
        width: calc(90% - 40px);
        margin: 0 auto;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
    }

    .column-container::after {
        left: 0;
    }

    .column {
        margin: 20px auto;
    }

    .column-content{
        font-size: 20px;
    }

    .navigator {
        display: none;
    }

    .process-items-container {
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .process-item {
        width: calc(100% - 100px);
        padding: 20px;
        margin-left: 100px;
        margin-bottom: 60px;
    }

    .process-item-title {
        margin-bottom: 5px;
    }

    /* Why Section */
    .widget {
        padding-left: 32px !important;
        padding-right: 30px !important;
        min-height: 650px;
    }

    .headline {
        width: 80%;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
    }

    .sub-headline {
        width: 50%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .illustration-bg{
        position: absolute !important;
        width: 65%;
        min-height: 300px;
        height: 60vh;
        max-height: 350px;
        background: #FAFAFA;
        top: 0;
        right: 0;
        border-radius: 0 0 0 45px;
    }

    .illustration-bg img{
        position: absolute !important;
        top: 110px;
        right: -30px;
        display: block;
        width: 90%;
        margin: 0 -5%;
        transform: rotateY(180deg);
    }

    #why .text-headline {
        font-size: 30px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 55px;
    }

    #why .text-desc {
        font-size: 18px;
        line-height: 22px;
        padding-right: 2px;
        padding-left: 2px;
    }

    #how .text-headline-lg {
        font-size: 38px;
        line-height: 33.3px;
    }
    
    #how .text-sub-headline {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
    }
    
    #how .text-headline-md {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
        width: 100%;
    }

    #how .process-list li {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }

    #resources .text-headline-md-w-auto {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
    }

    #resources .resource-item-container {
        margin-top: 60px;
    }

    #resources .resource-item {
        display: block;
        width: 100%;
        margin: 80px auto;
    }

    #safeIt .text-headline {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 36px;
    }

    #safeIt .teams-image-info-text {
        font-size: 16px;
        line-height: 19px;
    }

    #safeIt .resource-item-container {
        margin-top: 50px;
    }

    #safeIt .resource-item-container .resource-item {
        display: block;
        width: 100%;
        margin-bottom: 55px;
    }

    #safeIt .resource-item-container .resource-item p {
        font-size: 22px;
        line-height: 26px;
    }

    #teams .text-container {
        flex-direction: column;
        padding: 0;
    }

    .teams-image-container, .teams-image-info, .office-image-info, .column, .column-header, .column-content {
        width: 100%;
    }

    .office-image-container, .teams-image-container{
        position: static;
        width: 100%;
        margin-bottom: 50px;
        padding: 0;
    }

    #office{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #office .top-hr {
        margin-top: 0;
    }

    #teams .text-headline {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
    }

    #teams .teams-image-info-text {
        font-size: 16px;
        line-height: 19.2px;
    }

    #office .text-headline {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
    }

    #office .teams-image-info-text {
        font-size: 16px;
        line-height: 19px;
    }

    #process .text-headline {
        margin-top: 20px;
        line-height: 36px;
        font-size: 30px;
    }

    #contact-us .text-headline {
        font-size: 43px;
        line-height: 52px;
    }

    #contact-us .contact-text {
        width: 100%;
        margin-left: 15%;
    }

    #contact-us .contact-heading h3 {
        font-size: 38px;
        line-height: 45.6px;
    }

    #contact-us .input-text {
        margin: 30px auto;
    }

    #contact-us .contact-us-form {
        padding-left: 31px;
        padding-right: 31px;
    }

    #contact-us .text-area {
        width: 100%;
        margin: 30px auto;
    }

    #why{
        min-height: 550px;
    }

    #why .text-headline{
        width: 100%;
    }

    .text-desc, .article-link {
        width: 100%;
        margin: 30px 0;
    }

    #how{
        position: relative;
        padding: 60px 30px;
    }

    #how .top-hr{
        margin-top: 10px;
    }

    .skilled-bot{
        position: static;
        width: 100%;
    }

    .middle-content{
        width: 100%;
        margin: 60px auto 0;
        order: 3;
    }

    .first-text{
        width: 70%;
    }

    .main-section .logo {
        display: block;
        width: 40px;
    }

    .copyright-section{
        width: 100%;
        margin: 0 auto;
    }

    .copyright-link:nth-child(2), .copyright-link:nth-child(3){
        width: 50%;
    }

    .copyright-link:nth-child(1){
        order: 3;
        width: 100%;
    }

    .copyright-link {
        font-size: 16px;
        margin: 40px auto 0;
    }

    .footer-link{
        font-size: 16px;
    }

    #footer{
        width: 90%;
        padding: 60px 0;
    }

    .first-text .company-name{
        margin-left: 10px;
    }

    #contact-us{
        padding-left: 22px !important;
        padding-right: 0px !important;
        background-position: 40px 290px;
    }

    .input-container input, .text-area{
        max-width: 320px;
    }

    #contact-us .heading-section, 
    #contact-us .red-text{
        font-size: 43px;
    }
}