@font-face {
    font-family: "Blinker";
    src: url("./../fonts/Blinker-Regular.ttf");
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #303030;
    font-family: "Blinker";
}

.text-red{
    color: #F4442E;
}

.widget{
    width: 100%;
    max-width: 1200px;
    min-height: 900px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
}

.d-flex{
    display: flex;
}

.company-name{
    display: inline-block;
    width: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 30px;
    line-height: 87.62%;
    color: #F4442E;
}

.contact-us-btn{
    width: 135px;
    height: 44px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background: #F4442E;
    border-radius: 5px;
}

#remote{
    background-image: url('./../images/bg1.svg');
    background-repeat: no-repeat;
    background-position: top -65px right -5px;
    background-size: 80% 100%;
}

.headline{
    margin-left: 0px;
    margin-top: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.1875rem;
    color: #303030;
}

.sub-headline{
    font-style: normal;
    margin-top: 20px;
    margin-left: 0;
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
    color: #303030;
}

.column-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.column{
    width: 315px;
}

.column-header{
    width: 286px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #303030;    
}

.column-header img{
    vertical-align: middle;
}

.column-header label{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.column-content{
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
}

#why{
    background-image: url('./../images/bg2.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.top-hr{
    width: 165.5px;
    border: 0.5px solid #F4442E;
}

.text-headline{
    margin: 40px auto;
    color: #303030;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.text-desc{
    margin: 40px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #303030;
}

.article-link{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F4442E;
}

#how{
    background-image: url('./../images/bg3.svg');
    background-repeat: no-repeat;
    background-position: 90% 80%;
}

.text-headline-lg{
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    text-align: center;
    color: #303030;
}

.text-sub-headline{
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    line-height: 38px;
    color: #303030;
}

.text-headline-md{
    width: 70%;
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

.process-list {
    list-style: none;
}

.process-list li{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #303030;
    margin-top: 20px;
    margin-left: 20px;
}

.process-list li::before {
    content: "";
    background-color: #F4442E;
    font-weight: bold;
    display: inline-block; 
    width: 8px;
    height: 8px;
    margin-left: -0.8em;
    margin-right: 0.8em;
    border-radius: 50%;
}

.text-headline-md-w-auto{
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

#resources{
  background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
  background-position: 102.5% 10%, 10% 101%;
  background-repeat: no-repeat, no-repeat;
}

.resource-item-container{
    text-align: center;
    margin-top: 75px;
}

.resource-item{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 25px auto;
}

.resource-item p {
    font-size: 20px;
}

.resource-item img{
    margin-bottom: 20px;
}

.and-many-more{
    margin-top: 50px;
    text-align: right;
}

#teams .text-container{
    display: flex;
    justify-content: start;
    padding: 0 50px;
}

#teams .top-hr{
    margin-top: 40px;
    margin-bottom: -5px;
}

.teams-image-container{
    width: 50%;
    max-width: 660px;
    margin-right: 50px;
}

.teams-image-container img{
    width: 100%;
}

.teams-image-info{
    width: 45%;
}

.teams-image-info-text{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

#office{
    position: relative;
    background-image: url('../images/bg-dots.svg');
    background-position: 55% 85%;
    background-repeat: no-repeat;
}

.office-image-container{
    position: absolute;
    max-width: 660px;
    width: 50%;
    top: 0;
    right: 0;
}

.office-image-container img{
    width: 100%;
}

#office .top-hr{
    margin-top: 200px;
}

.office-image-info{
    width: 50%;
}

#safeIt{
  background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
  background-position: 102.5% top, 90% 101%;
  background-repeat: no-repeat, no-repeat;
}

.process-items-container{
    display: flex;
    width: 110%;
    flex-wrap: wrap;
    /* flex: 33% 33% 33%; */
    justify-content: start;
}

.process-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 33%;
    max-width: 240px;
    margin: 25px 55px 100px 100px;
    height: 240px;
    padding: 25px;
    text-align: left;
    border: 3px solid #F4442E;
}

.process-item::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    top: 0;
    left: -4px;
    background-color: white;
    z-index: 1;
}

.process-item-title{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;    
    color: #F4442E;
    margin-bottom: 25px;
}

.process-item-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}

.process-item-icon{
    position: absolute;
    left: -75px;
    top: 35%;
    z-index: 3;
}

.process-item-number{
    position: absolute;
    top: -10px;
    left: -125px;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    opacity: 0.05;
    z-index: 3;
}