@font-face {
    font-family: "Blinker";
    src: url("./../fonts/Blinker-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #303030;
    font-family: "Blinker";
}

.text-red {
    color: #F4442E;
}

.widget {
    width: 100%;
    max-width: 1200px;
    min-height: 900px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.company-name {
    display: inline-block;
    width: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 30px;
    line-height: 87.62%;
    color: #F4442E;
}

.contact-us-btn {
    width: 135px;
    height: 44px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background: #F4442E;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#remote {
    background-image: url('./../images/bg1.svg');
    background-repeat: no-repeat;
    background-position: top -65px right -5px;
    background-size: 80% 100%;
}

.headline {
    margin-left: 0px;
    margin-top: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.1875rem;
    color: #303030;
}

.sub-headline {
    font-style: normal;
    margin-top: 20px;
    margin-left: 0;
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
    color: #303030;
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.column {
    width: 315px;
}

.column-header {
    width: 286px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #303030;
}

.column-header img {
    vertical-align: middle;
}

.column-header label {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.column-content {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
}

#why {
    background-image: url('./../images/bg2.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.top-hr {
    width: 165.5px;
    border: 0.5px solid #F4442E;
}

#why .arrow {
    margin-left: 20px;
}

.text-headline {
    margin: 40px auto;
    color: #303030;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.text-desc {
    margin: 40px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #303030;
}

.article-link {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F4442E;
}

#how {
    background-image: url('./../images/bg3.svg');
    background-repeat: no-repeat;
    background-position: 90% 80%;
}

.text-headline-lg {
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    text-align: center;
    color: #303030;
}

.text-sub-headline {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    margin: 40px auto;
    line-height: 38px;
    color: #303030;
}

.text-headline-md {
    width: 70%;
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

#how .img-block {
    margin-top: 49px;
}

.process-list {
    list-style: none;
}

.process-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #303030;
    margin-top: 20px;
    margin-left: 20px;
}

.process-list li::before {
    content: "";
    background-color: #F4442E;
    font-weight: bold;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: -0.8em;
    margin-right: 0.8em;
    border-radius: 50%;
}

.text-headline-md-w-auto {
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    color: #303030;
}

#resources {
    background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
    background-position: 102.5% 10%, 10% 101%;
    background-repeat: no-repeat, no-repeat;
}

.resource-item-container {
    text-align: center;
    margin-top: 75px;
}

.resource-item {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 25px auto;
}

.resource-item p {
    font-size: 20px;
}

.resource-item img {
    margin-bottom: 20px;
}

.and-many-more {
    margin-top: 50px;
    text-align: right;
}

#teams .text-container {
    display: flex;
    justify-content: start;
    padding: 0 50px;
}

#teams .top-hr {
    margin-top: 40px;
    margin-bottom: -5px;
}

.teams-image-container {
    width: 50%;
    max-width: 660px;
    margin-right: 50px;
}

.teams-image-container img {
    width: 100%;
}

.teams-image-info {
    width: 45%;
}

.teams-image-info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

#office {
    position: relative;
    background-image: url('../images/bg-dots.svg');
    background-position: 55% 85%;
    background-repeat: no-repeat;
}

.office-image-container {
    position: absolute;
    max-width: 660px;
    width: 50%;
    top: 0;
    right: 0;
}

.office-image-container img {
    width: 100%;
}

#office .top-hr {
    margin-top: 200px;
}

.office-image-info {
    width: 50%;
}

#safeIt {
    background-image: url('../images/bg-dots.svg'), url('../images/bg-dots.svg');
    background-position: 102.5% top, 90% 101%;
    background-repeat: no-repeat, no-repeat;
}

.process-items-container {
    display: flex;
    width: 110%;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -20px;
}

.process-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 33%;
    max-width: 240px;
    margin: 25px 55px 100px 100px;
    height: 240px;
    padding: 25px;
    text-align: left;
    border: 3px solid #F4442E;
}

.process-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    top: 0;
    left: -4px;
    background-color: white;
    z-index: 1;
}

.process-item-title {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #F4442E;
    margin-bottom: 25px;
}

.process-item-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}

.process-item-icon {
    position: absolute;
    left: -75px;
    top: 35%;
    z-index: 3;
}

.process-item-number {
    position: absolute;
    top: -10px;
    left: -125px;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    opacity: 0.05;
    z-index: 3;
}

#contact-us .inline-class {
    text-decoration: line-through;
}

#contact-us .text-headline {
    margin-bottom: 0px;
}

#contact-us .red-text {
    color: #F4442E;
    font-weight: 600;
    font-size: 48px;
    margin-right: 15px;
}

#contact-us .heading-section {
    color: #303030;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

#contact-us .contact-info {
    padding-top: 76px;
    overflow: hidden;
}

#contact-us .contact-text {
    width: 100%;
    max-width: 1000px;
    margin-left: 230px;
    background: #FAFAFA;
    border-radius: 45px;
    padding-bottom: 50px;
}

#contact-us .contact-heading {
    padding: 57px 0px;
    text-align: center;
}

.contact-heading h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    color: #303030;
}

.input-control {
    padding: 14px;
    outline: auto;
    background: white;
    color: black;
}

.input-control:focus {
    border: white;
    background: white;
}

.input-section {
    padding-top: 44px;
}

#footer-text .main-section {
    display: flex;
    width: 100%;
}

.first-text {
    width: 10%;
}

.middle-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 12px;
}

.middle-content .first-link {
    margin-left: 133px;
}

#footer-text {
    width: 100%;
    max-width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
    border-top: 3px solid #FAFAFA;
}

#footer-text .main-section div p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.social-media-icons {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-left: 5%;
}

.input-container {
    width: 100%;
    max-width: 722px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-container input {
    width: 100%;
    max-width: 341px;
    border: none;
    font-size: 20px;
    color: #303030;
    padding: 20px;
}

.input-container input::placeholder {
    font-size: 20px;
    color: #303030;
}

.input-container input:focus {
    border: 0;
    outline: 0;
}

.contact-us-form {
    padding-left: 100px;
}

.text-area {
    width: 100%;
    max-width: 722px;
    height: 155px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    color: #303030;
    padding: 20px;
    border: none;
    resize: none;
}

.send-btn {
    display: block;
    margin-top: 20px;
    margin-left: 400px;
}

.text-area::placeholder {
    font-size: 20px;
    color: #303030;
}

.text-area:focus {
    border: 0;
    outline: 0;
}

/* Media Queries */

/* @media only screen and (min-width: 320px) and (max-width: 575px) {
    .widget {
        padding: 35px;
        margin: 0% 1.5rem;
    }
    #remote .sub-headline {
        margin-left: 0px;
        text-align: center;
        margin-top: 0px;
    }
    #remote {
        background-position: top -330px right -5px;
    }
    #why {
        background-position: top 96% right -5px;
        height: 122vh;
    }
    #how {
        background-position: top 39% right -5px;
    }
    .process-list {
        margin-top: 48rem;
    }
    .contact-us-btn {
        width: 104px;
        height: 38px;
        font-size: 1rem;
    }
    #contact-us .contact-text {
        margin-left: 0;
    }
    .contact-us-form {
        padding-left: 0px;
    }
    .input-container input {
        width: 94%;
        max-width: 341px;
        border: none;
        font-size: 1.3rem;
        padding: 15px;
        margin: 0.5rem;
    }
    .text-area {
        width: 94%;
        font-size: 1.3rem;
        margin: 0.5rem;
    }
    .send-btn {
        text-align: center;
        margin-left: 5rem;
    }
    .column-container {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }
    .column {
        width: 100%;
        margin: 20px 0px;
    }
    #resources .text-container {
        padding: 0px;
    }
    #resources .top-hr {
        width: 40%;
    }
    #resources .text-headline-md-w-auto {
        margin: 10px 0px;
        font-size: 2rem;
        line-height: 1;
    }
    #contact-us .text-headline {
        margin-bottom: 0px;
        font-size: 2rem;
    }
    .headline {
        font-size: 2rem;
    }
    .sub-headline {
        font-size: 1.3rem;
    }
    .column-content {
        font-size: 1.3rem;
    }
    .text-desc {
        font-size: 1.3rem;
    }
    .text-sub-headline {
        font-size: 1.3rem;
        margin: 0px 0px 3rem 0px;
    }
    .text-headline-lg {
        font-size: 2rem;
        text-align: left;
    }
    .text-headline {
        font-size: 2rem;
        text-align: left;
        line-height: 1;
    }
    #contact-us .heading-section {
        font-size: 2rem;
    }
    .contact-heading h3 {
        font-size: 2rem;
        line-height: 1;
        text-align: initial;
    }
    #contact-us .red-text {
        font-size: 2rem;
    }
    #resources .resource-item-container {
        margin-top: 20px;
        width: 100%;
    }
    #resources .resource-item {
        width: 100%;
    }
    #teams .text-container {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
    #teams .teams-image-container {
        width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }
    #teams .teams-image-info {
        width: 100%;
    }
    #teams .top-hr {
        width: 40%;
    }
    #teams .text-headline {
        margin: 25px auto;
        text-align: left;
        font-size: 2rem;
    }
    .text-headline-md-w-auto {
        font-size: 2rem;
    }
    .text-headline-md {
        font-size: 2rem;
        width: 100%;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
    }
    #teams .teams-image-info-text {
        text-align: center;
        width: 100%;
        font-size: 22px;
    }
    #office .text-container {
        padding: 0px;
    }
    #office .office-image-container {
        position: unset;
        top: unset;
        right: unset;
        max-width: unset;
        width: 100%;
    }
    #office .office-image-info {
        width: 100%;
    }
    #office .top-hr {
        margin-top: 35px;
        width: 40%;
    }
    #office .text-headline {
        text-align: left;
        font-size: 2rem;
        margin: 20px auto;
    }
    #office .teams-image-info-text {
        font-size: 20px;
    }
    #safeIt .text-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #safeIt .top-hr {
        width: 40%;
    }
    #safeIt .text-headline {
        text-align: left;
        margin: 25px auto;
        font-size: 2rem;
        line-height: 1;
    }
    #safeIt .teams-image-info-text {
        text-align: center;
        font-size: 1rem;
    }
    #safeIt .resource-item-container {
        margin: 20px;
    }
    #safeIt .resource-item {
        width: 100%;
        margin: 20px auto;
    }
    #process .text-container {
        width: 100%;
        padding: 0px;
    }
    #process .top-hr {
        width: 40%;
    }
    #process .text-headline {
        text-align: left;
        margin: 25px auto;
        font-size: 2rem;
    }
    #process .process-items-container {
        width: 100%;
        display: contents;
    }
    
    .process-item-icon {
        position: absolute;
        left: -53px;
        top: 35%;
        z-index: 3;
    }
    #process .process-item {
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }
    .process-item-title {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        color: #F4442E;
        margin-left: 3rem;
        margin-bottom: 0px;
    }
    .process-item-desc {
        margin-left: 3rem;
        padding-right: 0.5rem;
    }
    .process-item-number {
        left: -49%;
    }
} */

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .top-hr {
        width: 104px;
    }
    /* Why Section */
    .widget {
        padding-left: 32px !important;
        padding-right: 30px !important;
    }
    #why .text-headline {
        font-size: 30px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 55px;
    }
    #why .text-desc {
        font-size: 18px;
        line-height: 22px;
        padding-right: 2px;
        padding-left: 2px;
    }
    #how .text-headline-lg {
        font-size: 38px;
        line-height: 33.3px;
    }
    #how .text-sub-headline {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
    }
    #how .text-headline-md {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
        width: 100%;
    }
    #how .process-list li {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }
    #resources .text-headline-md-w-auto {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
    }
    #resources .resource-item-container {
        margin-top: 60px;
    }
    #resources .resource-item {
        display: block;
        width: 100%;
        margin: 80px auto;
    }
    #safeIt .text-headline {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 36px;
    }
    #safeIt .teams-image-info-text {
        font-size: 16px;
        line-height: 19px;
    }
    #safeIt .resource-item-container {
        margin-top: 50px;
    }
    #safeIt .resource-item-container .resource-item {
        display: block;
        width: 100%;
        margin-bottom: 55px;
    }
    #safeIt .resource-item-container .resource-item p {
        font-size: 22px;
        line-height: 26px;
    }
}